<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safecode.prd.mapper.ReportMapper">
	<select id="queryAll" resultType="report">
		SELECT id,user,product,company,state FROM report
	</select>
</mapper>
